{% extends './partials/layout.html' %}

{% block content %}
<h1>Available Pokemon</h1>


<div class="card" style="width: 18rem;">
    <img src="char-eevee.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Eevee</h5>
      <p class="card-text">Has the highest number of evolutions.</p>
      <a href="#" class="btn btn-primary">More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="charizard.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Charizard</h5>
      <p class="card-text">Was introduced in generation 1.</p>
      <a href="#" class="btn btn-primary">More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="pikachu.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pikachu</h5>
      <p class="card-text">Is a short, chubby rodent Pokémon.</p>
      <a href="#" class="btn btn-primary">More</a>
    </div>
  </div>

{% endblock content %}